{
  "swagger": "2.0",
  "info": {
    "title": "SkyWise Insight API (Beta)",
    "description": "The SkyWise Insight API is an interface to WDT’s Weather as a Service® analytics platform,  allowing application developers to leverage high quality weather information  for applications, and products. The SkyWise Insight API provides access to  historical, current, and forecast data for any region of interest,  such as an agriculture field, urban area, or utility service area.  API response formats can include time-series, summaries, or contours.",
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find more info at http://docs.api.wdtinc.com/insight-api/en/latest/overview.html",
    "url": "docs.api.wdtinc.com/insight-api/en/latest/overview.html"
  },
  "host": "insight.api.wdtinc.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Assets"
    },
    {
      "name": "Growing Degree Days"
    },
    {
      "name": "Cooling Degree Days"
    },
    {
      "name": "Heating Degree Days"
    },
    {
      "name": "Daily Precipitation"
    },
    {
      "name": "Hourly Precipitation"
    },
    {
      "name": "Hourly Relative Humidity"
    },
    {
      "name": "Daily Solar Radiation"
    },
    {
      "name": "Hourly Solar Radiation"
    },
    {
      "name": "Hourly Temperature"
    },
    {
      "name": "Daily High Temperature"
    },
    {
      "name": "Daily Low Temperature"
    },
    {
      "name": "Hourly Dewpoint"
    },
    {
      "name": "Hourly Wind Speed"
    },
    {
      "name": "Hourly Wind Direction"
    },
    {
      "name": "Daily Evapotranspiration Short Crop"
    },
    {
      "name": "Daily Evapotranspiration Tall Crop"
    },
    {
      "name": "Hourly Evapotranspiration Short Crop"
    },
    {
      "name": "Hourly Evapotranspiration Tall Crop"
    },
    {
      "name": "Climatology Daily High Temperature"
    },
    {
      "name": "Climatology Daily Low Temperature"
    },
    {
      "name": "Climatology Daily Precipitation"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/vnd.wdt+json; version=1"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic",
      "description": "HTTP Basic Authentication. Works over and `HTTPS`\n\nPlease contact WDT for a `username` and `password` (also referred to as an `application ID` and `key`).\n\nUp to five passwords may be in use at any time. This allows old passwords to be disabled without any downtime.\n"
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/assets": {
      "get": {
        "summary": "Asset List",
        "description": "Asset List",
        "operationId": "asset-list",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": [
                {
                  "id": "b17a4230-5b28-11e6-8516-9801a78e45d7",
                  "type": "GeometryCollection",
                  "geometries": [
                    {
                      "type": "MultiPolygon",
                      "coordinates": [
                        [
                          [
                            [
                              -97.490272522,
                              35.1743695858
                            ],
                            [
                              -97.490272522,
                              35.2565534411
                            ],
                            [
                              -97.3889923096,
                              35.2565534411
                            ],
                            [
                              -97.3889923096,
                              35.1743695858
                            ],
                            [
                              -97.490272522,
                              35.1743695858
                            ]
                          ]
                        ]
                      ]
                    }
                  ],
                  "centroid": {
                    "latitude": 40.46,
                    "longitude": -89.542
                  },
                  "description": {
                    "Ex. Tag 2": "City of Norman",
                    "Ex. Tag 1": "WDT Offices"
                  }
                },
                {
                  "id": "062a6249-ccb7-468f-8ab4-fb817e95cf36",
                  "type": "GeometryCollection",
                  "geometries": [
                    {
                      "type": "MultiPolygon",
                      "coordinates": [
                        [
                          [
                            -89.10324096679688,
                            40.38944285970336
                          ],
                          [
                            -89.10324096679688,
                            40.556591288249905
                          ],
                          [
                            -88.88076782226562,
                            40.556591288249905
                          ],
                          [
                            -88.88076782226562,
                            40.38944285970336
                          ],
                          [
                            -89.10324096679688,
                            40.38944285970336
                          ]
                        ]
                      ]
                    }
                  ],
                  "centroid": {
                    "latitude": 40.46,
                    "longitude": -89.542
                  },
                  "description": {
                    "Ex. Tag 2": "Bloomington, IL",
                    "Ex. Tag 1": "Corn Country"
                  }
                }
              ]
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Asset"
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Asset Creation",
        "description": "Asset Creation",
        "operationId": "asset-creation",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "examples": {
              "application/json": {
                "type": "GeometryCollection",
                "centroid": {
                  "latitude": 35.2154615135,
                  "longitude": -97.4396324158
                },
                "id": "b17a4230-5b28-11e6-8516-9801a78e45d7",
                "geometries": [
                  {
                    "type": "MultiPolygon",
                    "coordinates": [
                      [
                        [
                          [
                            -97.490272522,
                            35.1743695858
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.3889923096,
                            35.2565534411
                          ],
                          [
                            -97.3889923096,
                            35.1743695858
                          ],
                          [
                            -97.490272522,
                            35.1743695858
                          ]
                        ]
                      ]
                    ]
                  }
                ],
                "description": {
                  "Ex. Tag 2": "City of Norman",
                  "Ex. Tag 1": "WDT Offices"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/assets/{asset-uuid}": {
      "get": {
        "summary": "Asset Information",
        "description": "Asset Information",
        "operationId": "asset-information",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "type": "GeometryCollection",
                "centroid": {
                  "latitude": 35.2154615135,
                  "longitude": -97.4396324158
                },
                "id": "b17a4230-5b28-11e6-8516-9801a78e45d7",
                "geometries": [
                  {
                    "type": "MultiPolygon",
                    "coordinates": [
                      [
                        [
                          [
                            -97.490272522,
                            35.1743695858
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.3889923096,
                            35.2565534411
                          ],
                          [
                            -97.3889923096,
                            35.1743695858
                          ],
                          [
                            -97.490272522,
                            35.1743695858
                          ]
                        ]
                      ]
                    ]
                  }
                ],
                "description": {
                  "Ex. Tag 2": "City of Norman",
                  "Ex. Tag 1": "WDT Offices"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Asset Update",
        "description": "Asset Update",
        "operationId": "asset-update",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "type": "GeometryCollection",
                "centroid": {
                  "latitude": 35.2154615135,
                  "longitude": -97.4396324158
                },
                "id": "b17a4230-5b28-11e6-8516-9801a78e45d7",
                "geometries": [
                  {
                    "type": "MultiPolygon",
                    "coordinates": [
                      [
                        [
                          [
                            -97.490272522,
                            35.1743695858
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.3889923096,
                            35.2565534411
                          ],
                          [
                            -97.3889923096,
                            35.1743695858
                          ],
                          [
                            -97.490272522,
                            35.1743695858
                          ]
                        ]
                      ]
                    ]
                  }
                ],
                "description": {
                  "Ex. Tag 2": "Not all of Norman",
                  "Ex. Tag 1": "The best offices."
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Asset Removal",
        "description": "Asset Removal",
        "operationId": "asset-removal",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "type": "GeometryCollection",
                "centroid": {
                  "latitude": 35.2154615135,
                  "longitude": -97.4396324158
                },
                "id": "b17a4230-5b28-11e6-8516-9801a78e45d7",
                "geometries": [
                  {
                    "type": "MultiPolygon",
                    "coordinates": [
                      [
                        [
                          [
                            -97.490272522,
                            35.1743695858
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.3889923096,
                            35.2565534411
                          ],
                          [
                            -97.3889923096,
                            35.1743695858
                          ],
                          [
                            -97.490272522,
                            35.1743695858
                          ]
                        ]
                      ]
                    ]
                  }
                ],
                "description": {
                  "Ex. Tag 2": "City of Norman",
                  "Ex. Tag 1": "WDT Offices"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/growing-degree-days/{latitude}/{longitude}": {
      "get": {
        "summary": "Growing degree days by location",
        "description": "\nProvides the accumulated growing degree days at a specific location  along with daily time series data for a user-defined base temperature and date range.  The location is represented by a latitude/longitude pair.\nThe default response contains results for up to the next 6 days,  on a Celsius temperature scale, for a base temperature of 10 degrees with a daily time series.\n",
        "operationId": "growing-degree-days-by-location",
        "tags": [
          "Growing Degree Days"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base temperature",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Temperature unit",
            "required": false,
            "type": "string",
            "enum": [
              "celsius",
              "fahrenheit"
            ]
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "latitude": 35.482,
                "longitude": -97.535,
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "baseTemperature": 10,
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                },
                "degreeDays": 15.6,
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 5.2,
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-02",
                    "value": 7.3,
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-03",
                    "value": 3.1,
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DegreeDaysByLocationData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/growing-degree-days/{asset-uuid}": {
      "get": {
        "summary": "Growing degree days by asset",
        "description": "Provides the growing degree days and daily time series data for a  user-defined base temperature and date range at the centroid of an asset,  along with the area-weighted arithmetic mean and range of growing degree days  over that asset. Time series values are for the centroid of the asset.\nThe default response contains results for up to the next 6 days,  on a Celsius temperature scale, for a base temperature of 10 degrees with a daily time series.\n",
        "operationId": "growing-degree-days-by-asset",
        "tags": [
          "Growing Degree Days"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base temperature",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Temperature unit",
            "required": false,
            "type": "string",
            "enum": [
              "celsius",
              "fahrenheit"
            ]
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "baseTemperature": 10,
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                },
                "degreeDays": 16.7,
                "accumulationStatistics": {
                  "mean": 15.6,
                  "maximum": 18.1,
                  "minimum": 12.1
                },
                "contours": "/growing-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03",
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 5.4,
                    "contours": "/growing-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01",
                    "assetStatistics": {
                      "mean": 5.4,
                      "maximum": 5.5,
                      "minimum": 5.2
                    },
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-02",
                    "value": 5.5,
                    "contours": "/growing-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02",
                    "assetStatistics": {
                      "mean": 5.3,
                      "maximum": 5.4,
                      "minimum": 5
                    },
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-03",
                    "value": 5.6,
                    "contours": "/growing-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03",
                    "assetStatistics": {
                      "mean": 5.8,
                      "maximum": 5.9,
                      "minimum": 4.9
                    },
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DegreeDaysByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/growing-degree-days/{asset-uuid}/contours": {
      "get": {
        "summary": "Growing degree days contours by asset",
        "description": "Provides a contoured representation (GeoJSON) of growing degree days for a user-defined base temperature and date range, clipped to a asset boundary.\nThe default response contains results for up to the next 6 days,  on a Celsius temperature scale, for a base temperature of 10 degrees with a daily time series.\n",
        "operationId": "growing-degree-days-contours-by-asset",
        "tags": [
          "Growing Degree Days"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base temperature",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Temperature unit",
            "required": false,
            "type": "string",
            "enum": [
              "celsius",
              "fahrenheit"
            ]
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "baseTemperature": 10,
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                },
                "type": "FeatureCollection",
                "features": [
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "degreeDays": 4
                    }
                  },
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "degreeDays": 5
                    }
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DegreeDaysContoursByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/cooling-degree-days/{latitude}/{longitude}": {
      "get": {
        "summary": "Cooling degree days by location",
        "description": "Provides the accumulated cooling degree days at a specific location  along with daily time series data for a user-defined base temperature  and date range. The location is represented by a latitude/longitude pair.\nThe default response contains results for up to the next 6 days,  on a Celsius temperature scale, for a base temperature of 20 degrees with a daily time series.\n",
        "operationId": "cooling-degree-days-by-location",
        "tags": [
          "Cooling Degree Days"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base temperature",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Temperature unit",
            "required": false,
            "type": "string",
            "enum": [
              "celsius",
              "fahrenheit"
            ]
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "latitude": 35.482,
                "longitude": -97.535,
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "baseTemperature": 16,
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                },
                "degreeDays": 15.6,
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 5.2,
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-02",
                    "value": 7.3,
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-03",
                    "value": 3.1,
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DegreeDaysByLocationData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/cooling-degree-days/{asset-uuid}": {
      "get": {
        "summary": "Cooling degree days by asset",
        "description": "Provides the cooling degree days and daily time series data for a  user-defined base temperature and date range at the centroid of an asset,  along with the area-weighted arithmetic mean and range of  cooling degree days over that asset. Time series values are for the centroid of the asset.\nThe default response contains results for up to the next 6 days,  on a Celsius temperature scale, for a base temperature of 16 degrees with a daily time series.\n",
        "operationId": "cooling-degree-days-by-asset",
        "tags": [
          "Cooling Degree Days"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base temperature",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Temperature unit",
            "required": false,
            "type": "string",
            "enum": [
              "celsius",
              "fahrenheit"
            ]
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "baseTemperature": 16,
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                },
                "degreeDays": 16.7,
                "accumulationStatistics": {
                  "mean": 15.6,
                  "maximum": 18.1,
                  "minimum": 12.1
                },
                "contours": "/cooling-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03",
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 5.4,
                    "contours": "/cooling-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01",
                    "assetStatistics": {
                      "mean": 5.4,
                      "maximum": 5.5,
                      "minimum": 5.2
                    },
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-02",
                    "value": 5.5,
                    "contours": "/cooling-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02",
                    "assetStatistics": {
                      "mean": 5.3,
                      "maximum": 5.4,
                      "minimum": 5
                    },
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-03",
                    "value": 5.6,
                    "contours": "/cooling-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03",
                    "assetStatistics": {
                      "mean": 5.8,
                      "maximum": 5.9,
                      "minimum": 4.9
                    },
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DegreeDaysByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/cooling-degree-days/{asset-uuid}/contours": {
      "get": {
        "summary": "Cooling degree days contours by asset",
        "description": "Provides a contoured representation (GeoJSON) of cooling degree days for a  user-defined base temperature and date range, clipped to an asset boundary.\nThe default response contains results for up to the next 6 days,  on a Celsius temperature scale, for a base temperature of 16 degrees with a daily time series.\n",
        "operationId": "cooling-degree-days-contours-by-asset",
        "tags": [
          "Cooling Degree Days"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base temperature",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Temperature unit",
            "required": false,
            "type": "string",
            "enum": [
              "celsius",
              "fahrenheit"
            ]
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "baseTemperature": 16,
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                },
                "type": "FeatureCollection",
                "features": [
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "degreeDays": 4
                    }
                  },
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "degreeDays": 5
                    }
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DegreeDaysContoursByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/heating-degree-days/{latitude}/{longitude}": {
      "get": {
        "summary": "Heating degree days by location",
        "description": "Provides the accumulated heating degree days at a specific location  along with daily time series data for a user-defined base temperature  and date range. The location is represented by a latitude/longitude pair.\nThe default response contains results for up to the next 6 days,  on a Celsius temperature scale, for a base temperature of 16 degrees with a daily time series.\n",
        "operationId": "heating-degree-days-by-location",
        "tags": [
          "Heating Degree Days"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base temperature",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Temperature unit",
            "required": false,
            "type": "string",
            "enum": [
              "celsius",
              "fahrenheit"
            ]
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "latitude": 35.482,
                "longitude": -97.535,
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "baseTemperature": 16,
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                },
                "degreeDays": 15.6,
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 5.2,
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-02",
                    "value": 7.3,
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-03",
                    "value": 3.1,
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DegreeDaysByLocationData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/heating-degree-days/{asset-uuid}": {
      "get": {
        "summary": "Heating degree days by asset",
        "description": "Provides the heating degree days and daily time series data  for a user-defined base temperature and date range at the centroid of an asset,  along with the area-weighted arithmetic mean and range of heating degree days over that asset.  Time series values are for the centroid of the asset.\nThe default response contains results for up to the next 6 days,  on a Celsius temperature scale, for a base temperature of 16 degrees with a daily time series.\n",
        "operationId": "heating-degree-days-by-asset",
        "tags": [
          "Heating Degree Days"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base temperature",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Temperature unit",
            "required": false,
            "type": "string",
            "enum": [
              "celsius",
              "fahrenheit"
            ]
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "baseTemperature": 16,
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                },
                "degreeDays": 16.7,
                "accumulationStatistics": {
                  "mean": 15.6,
                  "maximum": 18.1,
                  "minimum": 12.1
                },
                "contours": "/heating-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03",
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 5.4,
                    "contours": "/heating-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01",
                    "assetStatistics": {
                      "mean": 5.4,
                      "maximum": 5.5,
                      "minimum": 5.2
                    },
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-02",
                    "value": 5.5,
                    "contours": "/heating-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02",
                    "assetStatistics": {
                      "mean": 5.3,
                      "maximum": 5.4,
                      "minimum": 5
                    },
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-03",
                    "value": 5.6,
                    "contours": "/heating-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03",
                    "assetStatistics": {
                      "mean": 5.8,
                      "maximum": 5.9,
                      "minimum": 4.9
                    },
                    "products": [
                      "skywise-superconus-24hr-high-temperature-analysis",
                      "skywise-superconus-24hr-low-temperature-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DegreeDaysByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/heating-degree-days/{asset-uuid}/contours": {
      "get": {
        "summary": "Heating degree days contours by asset",
        "description": "Provides a contoured representation (GeoJSON) of heating degree days  for a user-defined base temperature and date range, clipped to an asset boundary.\nThe default response contains results for up to the next 6 days,  on a Celsius temperature scale, for a base temperature of 16 degrees with a daily time series.\n",
        "operationId": "heating-degree-days-contours-by-asset",
        "tags": [
          "Heating Degree Days"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base temperature",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Temperature unit",
            "required": false,
            "type": "string",
            "enum": [
              "celsius",
              "fahrenheit"
            ]
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "baseTemperature": 16,
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                },
                "type": "FeatureCollection",
                "features": [
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "degreeDays": 4
                    }
                  },
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "degreeDays": 5
                    }
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DegreeDaysContoursByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/daily-precipitation/{latitude}/{longitude}": {
      "get": {
        "summary": "Daily Precipitation by location",
        "description": "Provides the total amount of daily precipitation along with a  daily time series within a user-defined timespan.  The location is represented by a latitude/longitude pair.\nThe default response contains results in millimeters for up to the next 6 days.\n",
        "operationId": "daily-precipitation-by-location",
        "tags": [
          "Daily Precipitation"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date (inclusive).\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of measure",
            "required": false,
            "type": "string",
            "enum": [
              "inches",
              "millimeters"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "latitude": 35.482,
                "longitude": -97.535,
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "precipitation": 22.5,
                "unit": {
                  "description": "millimeters",
                  "label": "mm"
                },
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 11.25,
                    "products": [
                      "skywise-24hr-precipitation-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-02",
                    "value": 5.25,
                    "products": [
                      "skywise-24hr-precipitation-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-03",
                    "value": 6,
                    "products": [
                      "skywise-24hr-precipitation-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DailyPrecipitationByLocationData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/daily-precipitation/{asset-uuid}": {
      "get": {
        "summary": "Daily Precipitation by asset",
        "description": "Provides the total amount of daily precipitation within a user-defined  timespan at the centroid of an asset, along with the area-weighted  arithmetic mean and range of precipitation over that asset.  Includes a daily time series. Time series values are for the centroid of the asset.\nThe default response contains results in millimeters for up to the next 6 days.\n",
        "operationId": "daily-precipitation-by-asset",
        "tags": [
          "Daily Precipitation"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of measure",
            "required": false,
            "type": "string",
            "enum": [
              "inches",
              "millimeters"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "precipitation": 22.5,
                "accumulationStatistics": {
                  "mean": 21.5,
                  "maximum": 27.6,
                  "minimum": 19.4
                },
                "unit": {
                  "description": "millimeters",
                  "label": "mm"
                },
                "contours": "/daily-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03",
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 11.25,
                    "contours": "/daily-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01",
                    "assetStatistics": {
                      "mean": 10.2,
                      "maximum": 11.5,
                      "minimum": 9.6
                    },
                    "products": [
                      "skywise-24hr-precipitation-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-02",
                    "value": 11,
                    "contours": "/daily-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02",
                    "assetStatistics": {
                      "mean": 10.5,
                      "maximum": 11.7,
                      "minimum": 9.4
                    },
                    "products": [
                      "skywise-24hr-precipitation-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-03",
                    "value": 10,
                    "contours": "/daily-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03",
                    "assetStatistics": {
                      "mean": 10.6,
                      "maximum": 12.5,
                      "minimum": 8.6
                    },
                    "products": [
                      "skywise-24hr-precipitation-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DailyPrecipitationByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/daily-precipitation/{asset-uuid}/contours": {
      "get": {
        "summary": "Daily Precipitation contours by asset",
        "description": "Provides a contoured representation (GeoJSON) of the total  amount of precipitation within a user-defined timespan, clipped to an asset boundary.\nThe default response contains results in millimeters for up to the next 6 days.\n",
        "operationId": "daily-precipitation-contours-by-asset",
        "tags": [
          "Daily Precipitation"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of measure",
            "required": false,
            "type": "string",
            "enum": [
              "inches",
              "millimeters"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "type": "FeatureCollection",
                "features": [
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "precipitation": 20
                    }
                  },
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "precipitation": 15
                    }
                  }
                ],
                "unit": {
                  "description": "millimeters",
                  "label": "mm"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/DailyPrecipitationContoursByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/hourly-precipitation/{latitude}/{longitude}": {
      "get": {
        "summary": "Hourly Precipitation by location",
        "description": "Provides the total amount of precipitation within a user-defined  timespan at a specific location. The location is represented by a  latitude/longitude pair. Includes an hourly time series.  The valid time of each element in the series defines the end of its hourly accumulation period.\nThe default response contains results in millimeters for the next 24 hours.\n",
        "operationId": "hourly-precipitation-by-location",
        "tags": [
          "Hourly Precipitation"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End time.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "format": "date-time",
            "required": false
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of measure",
            "required": false,
            "type": "string",
            "enum": [
              "inches",
              "millimeters"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "latitude": 35.482,
                "longitude": -97.535,
                "startTime": "2015-06-01T00:00:00Z",
                "endTime": "2015-06-01T03:00:00Z",
                "precipitation": 2.5,
                "unit": {
                  "description": "millimeters",
                  "label": "mm"
                },
                "series": [
                  {
                    "validTime": "2015-06-01T01:00:00Z",
                    "value": 1.25,
                    "products": [
                      "skywise-1hr-precipitation-analysis"
                    ]
                  },
                  {
                    "validTime": "2015-06-01T02:00:00Z",
                    "value": 0.25,
                    "products": [
                      "skywise-1hr-precipitation-analysis"
                    ]
                  },
                  {
                    "validTime": "2015-06-01T03:00:00Z",
                    "value": 1,
                    "products": [
                      "skywise-1hr-precipitation-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/HourlyPrecipitationByLocationData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/hourly-precipitation/{asset-uuid}": {
      "get": {
        "summary": "Hourly Precipitation by asset",
        "description": "Provides the total amount of precipitation within a user-defined timespan  at the centroid of an asset, along with the area-weighted arithmetic mean  and range of precipitation over that asset. Includes an hourly time series.  Time series values are for the centroid of the asset.\nThe default response contains results for up to the next 24 hours.\n",
        "operationId": "hourly-precipitation-by-asset",
        "tags": [
          "Hourly Precipitation"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End time.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "format": "date-time",
            "required": false
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of measure",
            "required": false,
            "type": "string",
            "enum": [
              "inches",
              "millimeters"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startTime": "2015-06-01T00:00:00Z",
                "endTime": "2015-06-01T03:00:00Z",
                "precipitation": 2.5,
                "accumulationStatistics": {
                  "mean": 2.5,
                  "maximum": 2.6,
                  "minimum": 2.4
                },
                "unit": {
                  "description": "millimeters",
                  "label": "mm"
                },
                "contours": "/hourly-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T00:00:00Z&end=2015-06-01T03:00:00Z",
                "series": [
                  {
                    "validTime": "2015-06-01T01:00:00Z",
                    "value": 1.2,
                    "contours": "/hourly-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T00:00:00Z&end=2015-06-01T01:00:00Z",
                    "assetStatistics": {
                      "mean": 1.3,
                      "maximum": 1.6,
                      "minimum": 1.1
                    },
                    "products": [
                      "skywise-1hr-precipitation-analysis"
                    ]
                  },
                  {
                    "validTime": "2015-06-01T02:00:00Z",
                    "value": 0.3,
                    "contours": "/hourly-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T01:00:00Z&end=2015-06-01T02:00:00Z",
                    "assetStatistics": {
                      "mean": 0.2,
                      "maximum": 0.4,
                      "minimum": 0
                    },
                    "products": [
                      "skywise-1hr-precipitation-analysis"
                    ]
                  },
                  {
                    "validTime": "2015-06-01T03:00:00Z",
                    "value": 1,
                    "contours": "/hourly-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T03:00:00Z&end=2015-06-01T03:00:00Z",
                    "assetStatistics": {
                      "mean": 0.9,
                      "maximum": 1.2,
                      "minimum": 0.7
                    },
                    "products": [
                      "skywise-1hr-precipitation-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/HourlyPrecipitationByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/hourly-precipitation/{asset-uuid}/contours": {
      "get": {
        "summary": "Hourly Precipitation contours by asset",
        "description": "Provides a contoured representation (GeoJSON) of the total amount  of precipitation within a user-defined timespan, clipped to an asset boundary.\nThe default response contains results in millimeters for the next 24 hours.\n",
        "operationId": "hourly-precipitation-contours-by-asset",
        "tags": [
          "Hourly Precipitation"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time.\nStart of 2015 to 7 days in the future. \n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End time.\nStart of 2015 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "format": "date-time",
            "required": false
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of measure",
            "required": false,
            "type": "string",
            "enum": [
              "inches",
              "millimeters"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startTime": "2015-06-01T00:00:00Z",
                "endTime": "2015-06-01T03:00:00Z",
                "type": "FeatureCollection",
                "features": [
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "precipitation": 2
                    }
                  },
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "precipitation": 2.5
                    }
                  }
                ],
                "unit": {
                  "description": "millimeters",
                  "label": "mm"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/HourlyPrecipitationContoursByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/hourly-relative-humidity/{latitude}/{longitude}": {
      "get": {
        "summary": "Hourly Relative Humidity by location",
        "description": "Provides an hourly time series of relative humidity within a user-defined  timespan at a specific location. The location is represented by a latitude/longitude pair.\nThe default response contains results as a percentage for up to the next 24 hours.\n",
        "operationId": "hourly-relative-humidity-by-location",
        "tags": [
          "Hourly Relative Humidity"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time.\nJune 01, 2016 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End time (inclusive).\nJune 01, 2016 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "format": "date-time",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "latitude": 35.482,
                "longitude": -97.535,
                "startTime": "2016-06-01T00:00:00Z",
                "endTime": "2016-06-01T03:00:00Z",
                "unit": {
                  "description": "Percentage",
                  "label": "%"
                },
                "series": [
                  {
                    "validTime": "2016-06-01T00:00:00Z",
                    "value": 97.8,
                    "products": [
                      "skywise-1hr-relative-humidity-analysis"
                    ]
                  },
                  {
                    "validTime": "2016-06-01T01:00:00Z",
                    "value": 99,
                    "products": [
                      "skywise-1hr-relative-humidity-analysis"
                    ]
                  },
                  {
                    "validTime": "2016-06-01T02:00:00Z",
                    "value": 100,
                    "products": [
                      "skywise-1hr-relative-humidity-analysis"
                    ]
                  },
                  {
                    "validTime": "2016-06-01T03:00:00Z",
                    "value": 96.5,
                    "products": [
                      "skywise-1hr-relative-humidity-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/HourlyProductByLocationData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/hourly-relative-humidity/{asset-uuid}": {
      "get": {
        "summary": "Hourly Relative Humidity by asset",
        "description": "Provides an hourly time series for relative humidity within a user-defined  timespan at the centroid of an asset, along with the area-weighted arithmetic mean and range over that asset. Time series values are for the centroid of the asset.\nThe default response contains results as a percentage for up to the next 24 hours.\n",
        "operationId": "hourly-relative-humidity-by-asset",
        "tags": [
          "Hourly Relative Humidity"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time.\nJune 01, 2016 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End time (inclusive).\nJune 01, 2016 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "format": "date-time",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startTime": "2016-06-01T00:00:00Z",
                "endTime": "2016-06-01T03:00:00Z",
                "unit": {
                  "description": "Percentage",
                  "label": "%"
                },
                "timeSeriesStatistics": {
                  "mean": 96.2,
                  "minimum": 85.5,
                  "maximum": 99
                },
                "series": [
                  {
                    "validTime": "2016-06-01T00:00:00Z",
                    "value": 97,
                    "contours": "/hourly-relative-humidity/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T00:00:00Z",
                    "assetStatistics": {
                      "mean": 97,
                      "minimum": 90.5,
                      "maximum": 99
                    },
                    "products": [
                      "skywise-1hr-relative-humidity-analysis"
                    ]
                  },
                  {
                    "validTime": "2016-06-01T01:00:00Z",
                    "value": 96.7,
                    "contours": "/hourly-relative-humidity/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T01:00:00Z",
                    "assetStatistics": {
                      "mean": 98,
                      "minimum": 92.5,
                      "maximum": 99
                    },
                    "products": [
                      "skywise-1hr-relative-humidity-analysis"
                    ]
                  },
                  {
                    "validTime": "2016-06-01T02:00:00Z",
                    "value": 95.5,
                    "contours": "/hourly-relative-humidity/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T02:00:00Z",
                    "assetStatistics": {
                      "mean": 95,
                      "minimum": 85.5,
                      "maximum": 98
                    },
                    "products": [
                      "skywise-1hr-relative-humidity-analysis"
                    ]
                  },
                  {
                    "validTime": "2016-06-01T03:00:00Z",
                    "value": 93.5,
                    "contours": "/hourly-relative-humidity/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T03:00:00Z",
                    "assetStatistics": {
                      "mean": 94.9,
                      "minimum": 90.5,
                      "maximum": 99
                    },
                    "products": [
                      "skywise-1hr-relative-humidity-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/HourlyProductByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/hourly-relative-humidity/{asset-uuid}/contours": {
      "get": {
        "summary": "Hourly Relative Humidity contours by asset",
        "description": "Provides a contoured representation (GeoJSON) of hourly relative humidity  at a particular valid time, clipped to an asset boundary.\nThe default response contains results as a percentage for up to the next 24 hours.\n",
        "operationId": "hourly-relative-humidity-contours-by-asset",
        "tags": [
          "Hourly Relative Humidity"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "validTime",
            "in": "query",
            "description": "Valid time.\nJune 01, 2016 to 7 days in the future.\n(YYYY-MM-DDTHH:MM:SSZ)\n",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "validTime": "2016-06-01T00:00:00Z",
                "type": "FeatureCollection",
                "features": [
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "relativeHumidity": 30
                    }
                  },
                  {
                    "type": "Feature",
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -97.4659940722,
                            35.2565534411
                          ],
                          [
                            -97.4658619203,
                            35.1917669659
                          ],
                          [
                            -97.490272522,
                            35.1761651697
                          ],
                          [
                            -97.490272522,
                            35.2565534411
                          ],
                          [
                            -97.4659940722,
                            35.2565534411
                          ]
                        ]
                      ]
                    },
                    "properties": {
                      "relativeHumidity": 25
                    }
                  }
                ],
                "unit": {
                  "description": "degree celsius",
                  "label": "°C"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/HourlyRelativeHumidityContoursByAssetData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/daily-solar-radiation/{latitude}/{longitude}": {
      "get": {
        "summary": "Daily Solar Radiation by location",
        "description": "Provides the total amount of solar radiation along with a daily  time series within a user-defined timespan at a specific location.  The location is represented by a latitude/longitude pair.\nThe default response contains results in Megajoules per square meter  for up to the next 4 days.\n",
        "operationId": "daily-solar-radiation-by-location",
        "tags": [
          "Daily Solar Radiation"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 5 days in the future.\n(YYYY-MM-DD)\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date.\nStart of 2015 to 5 days in the future.\n(YYYY-MM-DD)\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "latitude": 35.482,
                "longitude": -97.535,
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "solarRadiation": 164.1,
                "unit": {
                  "description": "megajoules per square meter",
                  "label": "MJ/m²"
                },
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 50,
                    "products": [
                      "skywise-24hr-solar-radiation-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-02",
                    "value": 50,
                    "products": [
                      "skywise-24hr-solar-radiation-analysis"
                    ]
                  },
                  {
                    "validDate": "2015-06-03",
                    "value": 66.1,
                    "products": [
                      "skywise-24hr-solar-radiation-analysis"
                    ]
                  }
                ]
              }
            },
            "schema": {
              "$ref": "#/definitions/DailySolarRadiationByLocationData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/daily-solar-radiation/{asset-uuid}": {
      "get": {
        "summary": "Daily Solar Radiation by asset",
        "description": "Provides the total amount of solar radiation within a user-defined  timespan at the centroid of an asset, along with the area-weighted  arithmetic mean and range of solar radiation over that asset.  Includes a daily time series. Time series values are for the centroid of the asset.\nThe default response contains results in Megajoules per square meter for up to the next 4 days.\n",
        "operationId": "daily-solar-radiation-by-asset",
        "tags": [
          "Daily Solar Radiation"
        ],
        "parameters": [
          {
            "name": "asset-uuid",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Unique asset id."
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date.\nStart of 2015 to 5 days in the future.\n",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "End date.\nStart of 2015 to 5 days in the future.\n",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "asset": "/assets/fe68c33d-e718-4449-acae-351072ce7749",
                "startDate": "2015-06-01",
                "endDate": "2015-06-03",
                "solarRadiation": 164.1,
                "accumulationStatistics": {
                  "mean": 164.1,
                  "maximum": 166.8,
                  "minimum": 161.9
                },
                "unit": {
                  "description": "megajoules per square meter",
                  "label": "MJ/m²"
                },
                "contours": "/daily-solar-radiation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03",
                "series": [
                  {
                    "validDate": "2015-06-01",
                    "value": 50,
[...]
